.dark .modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.dark .modal-content {
  background-color: var(--bg-color);
  color: #ffffff;
}

.dark .close-button {
  color: #ffffff;
}

.dark .task-info-section h2,
.dark .task-info-section p,
.dark .task-info-section strong {
  color: #ffffff;
}

.dark .related-task-card {
  background-color: var(--bg-color);
  border-color: #444;
  color: #ffffff;
}

.dark .related-task-card:hover {
  background-color: #333;
}

.dark .task-meta span {
  color: #ffffff;
}

.dark .related-task-list {
  background-color: transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  width: 1000px;
  max-width: 100%;
  overflow-y: auto;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.edit-button {
  background-color: #f0ad4e;
  color: white;
}
.edit-button:hover {
  background-color: #eba139;
}
.delete-button {
  background-color: #d9534f;
  color: white;
}
.delete-button:hover {
  background-color: #ec3932;
}
.save-button {
  background-color: #5cb85c;
  color: white;
}
.save-button:hover {
  background-color: #2d912d;
}
.cancel-button {
  background-color: #3fcf8e;
  border: 1px solid #cbd5e1;
}

.cancel-button:hover {
  background-color: #35b97f;
}

.close-button {
  color: #080808;
  position: absolute;
  top: 2px;
  right: 2px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.task-detail-content {
  display: flex;
  gap: 20px;
}

.task-image-section {
  flex: 1;
}

.task-info-section {
  flex: 2;
  overflow-wrap: break-word;
}

.task-image {
  width: 500px;
  height: 500px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
}
.edit-title-input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.task-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.task-buttons button {
  width: 100px;
  margin: 0 10px;
}

.task-buttons button:first-child {
  margin-left: 0;
}

.task-buttons button:last-child {
  margin-right: 0;
}

.task-buttons button {
  margin-right: 8px;
  margin-top: 12px;
}

.related-tasks-section {
  margin-top: 24px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.related-task-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 24px;
  width: 100%;
  padding-top: 10px;
}

.related-task-card {
  width: 140px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  transition: transform 0.2s;
  background-color: #fafafa;
}

.related-task-card:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.related-task-img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}
.related-task-title {
  font-size: 16px;
  margin: 6px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-description {
  max-height: 120px;
  overflow: hidden;
  white-space: pre-wrap;
}
.task-title {
  max-height: 60px;
  overflow: hidden;
  white-space: pre-wrap;
}
.title-wrapper,
.description-wrapper {
  margin-bottom: 1rem;
}

.expandable-content {
  padding-right: 8px;
}

.expandable-content::-webkit-scrollbar {
  width: 6px;
}

.expandable-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.toggle-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 4px;
}
.description-wrapper {
  margin-bottom: 1rem;
}

.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
  line-clamp: 6;
}

.read-more {
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 4px;
  white-space: nowrap;
}

.scrollable-text {
  max-height: 300px;
  overflow-y: auto;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
  position: relative;
}

.scrollable-text .read-more {
  display: block;
  margin-top: 6px;
  font-size: 0.9rem;
}
.text-wrapper {
  position: relative;
  margin-bottom: 1rem;
  max-height: 400px;
  overflow-y: auto;
}
.text-wrapper h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.task-info-section p {
  display: flex;
  font-size: 1rem;
  gap: 5px;
}
.text-content {
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.5;
  transition: max-height 0.3s ease;
}

.clamped-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;

  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
}

.clamped-desc {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 6;
}

.expanded {
  max-height: none;
  overflow: visible;
}

.read-toggle {
  display: inline-block;
  color: #007bff;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 4px;
}
/* .modal-content {
  width: 1000px;
  max-width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  position: relative;
} */

.text-wrapper {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.text-content {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.clamped-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
}

.clamped-desc {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 6;
}

.expanded {
  overflow-y: auto;
  max-height: 300px;
  padding-right: 4px;
}

.read-toggle {
  display: inline-block;
  color: #007bff;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: 4px;
}

.expanded-title {
  overflow-y: auto;
  max-height: 100px;
  padding-right: 4px;
}

.expanded-desc {
  overflow-y: auto;
  max-height: 300px;
  padding-right: 4px;
}
@media (max-width: 1440px) {
  .modal-content {
    width: 850px;
  }
  .task-image {
    width: 450px;
    height: 450px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
  }
  .related-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    width: 100%;
    padding-top: 10px;
  }
  .related-task-card {
    width: 120px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    transition: transform 0.2s;
    background-color: #fafafa;
  }
  .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .modal-content {
    width: 800px;
  }
  .task-image {
    width: 450px;
    height: 450px;
    max-height: 500px;
  }
  .related-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 20px;
    width: 100%;
    padding-top: 10px;
  }
  .related-task-card {
    width: 110px;
  }
  .close-button {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    width: 600px;
  }
  .meta-row {
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    margin-top: 0.5rem;
  }

  .task-item span.task-meta {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .task-image {
    width: 330px;
    height: 350px;
    max-height: 500px;
  }
  .related-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 15px;
    width: 100%;
    padding-top: 10px;
  }
  .related-task-card {
    width: 80px;
  }
  .close-button {
    font-size: 12px;
  }
  .task-info-section p {
    display: flex;
    font-size: 0.8rem;
    gap: 5px;
  }
  .task-info-section strong {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .modal-content {
    width: 400px;
    padding: 10px;
  }
  .task-buttons button {
    width: 80px;
    margin: 0 5px;
    font-size: 0.9em;
    padding: 8px 12px;
  }
  .task-image {
    width: 200px;
    height: 250px;
    max-height: 300px;
  }
  .related-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 10px;
    width: 100%;
    padding-top: 10px;
  }
  .related-task-card {
    width: 120px;
  }
  .related-task-img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
  }
  .related-task-title {
    font-size: 13px;
    margin: 4px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-wrapper h2 {
    font-size: 1rem !important;
  }
  .task-detail-content {
    gap: 10px;
  }
  .task-info-section h2,
  .task-info-section p,
  .task-info-section .text-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .task-info-section {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
  }

  .text-wrapper {
    box-sizing: border-box;
    width: 100%;
  }

  .text-content {
    box-sizing: border-box;
    width: 100%;
  }
  .task-info-section p {
    flex-wrap: nowrap;
    font-size: 0.8rem;
  }
  .task-info-section strong {
    font-size: 0.8rem;
  }
}
@media (max-width: 390px) {
  .modal-content {
    width: 340px;
    padding: 10px;
  }
  .task-buttons button {
    width: 80px;
    margin: 0 5px;
    font-size: 0.9em;
    padding: 8px 12px;
  }
  .task-image {
    width: 170px;
    height: 240px;
  }
  .related-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    padding-top: 10px;
  }
  .related-task-card {
    width: 100px;
  }
  .related-task-img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
  }
  .related-task-title {
    font-size: 13px;
    margin: 4px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-wrapper h2 {
    font-size: 1rem !important;
  }
  .task-detail-content {
    gap: 10px;
  }
  .task-info-section h2,
  .task-info-section p,
  .task-info-section .text-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .task-info-section {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
  }

  .text-wrapper {
    box-sizing: border-box;
    width: 100%;
  }

  .text-content {
    box-sizing: border-box;
    width: 100%;
  }
  .task-info-section p {
    flex-wrap: wrap;
  }
  .task-info-section strong {
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  .modal-content {
    width: 300px;
    padding: 10px;
  }
  .task-buttons button {
    width: 60px;
    margin: 0 5px;
    font-size: 0.8em;
    padding: 8px 12px;
  }
  .task-image {
    width: 140px;
    height: 240px;
  }
  .related-task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    width: 100%;
    padding-top: 10px;
  }
  .related-task-card {
    width: 80px;
  }
  .related-task-img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  .related-task-title {
    font-size: 13px;
    margin: 4px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .task-detail-content {
    gap: 10px;
  }
  .task-info-section h2,
  .task-info-section p,
  .task-info-section .text-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .task-info-section {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
  }

  .text-wrapper {
    box-sizing: border-box;
    width: 100%;
  }

  .text-content {
    box-sizing: border-box;
    width: 100%;
  }
  .task-info-section p {
    flex-wrap: wrap;
    font-size: 0.75rem;
  }
  .task-info-section strong {
    font-size: 0.7rem;
  }
}
