.search-tasks-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
  position: relative;
  width: 350px;
  margin-left: auto;
}

.search-input {
  flex-grow: 1;
  height: 40px;
  font-size: 14px;
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 999px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: border 0.3s, box-shadow 0.3s;
  resize: none;
}

.icon-wrapper {
  position: absolute;
  top: 0;
  bottom: auto;
  display: flex;
  align-items: center;
  z-index: 10;
}

.icon {
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  padding: 6px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon:hover {
  background-color: #eee;
}
.icon.active {
  background-color: rgba(33, 150, 243, 0.1);
}
.clear-icon:hover {
  background-color: #e27373;
}
.priority-dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  font-size: 14px;
}

.priority-dropdown {
  width: 160px;
  max-height: 200px;
  overflow-y: auto;
}

.priority-option {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.priority-option:hover,
.priority-option.selected {
  background-color: #679bd3;
  color: white;
}

.date-picker-container {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.react-datepicker {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #ffffff;
}

h2.react-datepicker__current-month {
  font-size: 20px;
}

.react-datepicker__header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.react-datepicker__current-month {
  font-size: 1.1em;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}
.react-datepicker__navigation {
  top: 5px !important;
}
.react-datepicker__navigation:hover {
  background: #d8d8d8;
}

.react-datepicker__day-name {
  color: #888;
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 8px;
  width: 2.2em;
  line-height: 2.2em;
}

.react-datepicker__day {
  color: #4a4a4a;
  font-size: 0.9em;
  font-weight: 400;
  width: 2.2em;
  line-height: 2.2em;
  margin: 0.166em;
  border-radius: 50%;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.react-datepicker__day:not(.react-datepicker__day--selected):not(
    .react-datepicker__day--outside-month
  ):hover {
  background-color: #f0f0f0;
  color: #333;
}

.react-datepicker__day--today {
  font-weight: 600;
  color: #1a73e8;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background-color: #1a73e8 !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker__day--outside-month {
  color: #ccc;
}
@media (max-width: 1669px) {
  .search-tasks-wrapper {
    width: 300px;
  }
  span .icon {
    padding: 6px 8px;
  }
  .search-input {
    font-size: 12px;
  }
}
@media (max-width: 1629px) {
  .search-tasks-wrapper {
    width: 278px;
  }
}
@media (max-width: 1440px) {
  .search-tasks-wrapper {
    width: 260px;
  }
  .search-input {
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .search-tasks-wrapper {
    width: 307px;
  }

  .search-input {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .search-tasks-wrapper {
    width: 342px;
  }

  .search-input {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .search-tasks-wrapper {
    width: 361px;
  }
}
@media (max-width: 375px) {
  .search-tasks-wrapper {
    width: 311px;
  }
}
@media (max-width: 320px) {
  .search-tasks-wrapper {
    width: 256px;
  }
  .search-input {
    font-size: 10px;
  }
  span .icon {
    padding: 4px 6px;
  }
}
