.task-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.dark .task-header span {
  color: #fff;
}
@media (max-width: 320px) {
  .task-header {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }
}
