.task-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
/* .task-header span {
  color: #333;
} */
.dark .task-header span {
  color: #fff;
}
