#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Reset */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* Page Container */
.auth-container {
  width: 700px;
  min-height: 100vh;
  padding: 2rem;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  background: linear-gradient(to bottom right, #ffffff, #f2f5ff);
  animation: fadeIn 0.5s ease;
}

/* Title */
.auth-container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Input and Textarea */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="datetime-local"],
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: border 0.3s, box-shadow 0.3s;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}

/* File Input */
input[type="file"] {
  margin-bottom: 1rem;
  padding-bottom: 10px;
}

/* Buttons */
button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #3fcf8e;
  color: white;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  background: #35b97f;
  color: white;
}
button:focus {
  outline: none;
}

.badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  margin-left: 8px;
  white-space: nowrap;
  width: fit-content;
  max-width: max-content;
}

/* Priority colors */
.badge-priority-low {
  background-color: #34d399;
}

.badge-priority-medium {
  background-color: #f59e0b;
}

.badge-priority-high {
  background-color: #ef4444;
}

/* Status colors */
.badge-status-todo {
  background-color: #ef4444;
}
.badge-status-in-progress {
  background-color: #f59e0b;
}
.badge-status-done {
  background-color: #34d399;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.custom-file-upload input[type="file"] {
  display: none;
}
.auth-page {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
