.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dark .custom-pagination .ant-pagination-item-link,
.dark .custom-pagination .ant-pagination-item-ellipsis {
  color: #ddd !important;
  border-color: #555 !important;
}

.dark .custom-pagination .ant-pagination-item-link:hover {
  color: #fff !important;
  border-color: #999 !important;
}
