.task-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.task-list button {
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  flex: 1;
}

.task-item {
  border: 1px solid #eaeaea;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}

.task-item h3 {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  height: 3rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}

.task-item p {
  color: var(--text-color);
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  height: 3rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}
.task-item span {
  color: var(--text-color);
  font-size: 0.8rem;
  height: auto;
  display: block;
  text-align: left;
}
.meta-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.task-item span.task-meta {
  display: flex;
  align-items: center;
  gap: 4px;
}

.task-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.task-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: auto;
}

/* .task-actions button:hover {
  background: #35b97f;
} */
.edit-btn {
  background-color: #f0ad4e;
  color: white;
}
.edit-btn:hover {
  background-color: #eba139;
}
.delete-btn {
  background-color: #d9534f;
  color: white;
}
.delete-btn:hover {
  background-color: #ec3932;
}
.save-btn {
  background-color: #5cb85c;
  color: white;
}
.save-btn:hover {
  background-color: #2d912d;
}
.cancel-btn {
  background-color: #3fcf8e;
  border: 1px solid #cbd5e1;
}

.cancel-btn:hover {
  background-color: #35b97f;
}

.new-task {
  background-color: #dbe7db;
  border-left: 5px solid rgb(202, 224, 202);
  animation: highlight 2s ease-in-out;
  border-left: 5px solid rgb(202, 224, 202);
  animation: highlight 2s ease-in-out;
}
@keyframes highlight {
  0% {
    background-color: #d1f7d1;
  }

  50% {
    background-color: #d7e6d7;
  }

  100% {
    background-color: #d1f7d1;
  }
}

@media (max-width: 1669px) {
  .task-list {
    gap: 1.2rem;
  }
  .task-item span {
    font-size: 0.75rem;
    height: auto;
    display: block;
    text-align: left;
  }
  /* .task-item span strong {
    font-size: 0.7rem;
  } */
  .task-item span.time-meta {
    font-size: 0.8rem;
  }
  .meta-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
    margin-top: 0.5rem;
  }

  .task-item span.task-meta {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}
@media (max-width: 1440px) {
  .task-list {
    gap: 1.2rem;
  }
  .task-item span {
    font-size: 0.6rem;
    height: auto;
    display: block;
    text-align: left;
  }
  /* .task-item span strong {
    font-size: 0.7rem;
  } */
  .task-item span.time-meta {
    font-size: 0.8rem;
  }
  .meta-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
    margin-top: 0.5rem;
  }

  .task-item span.task-meta {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}
@media (max-width: 1280px) {
  .task-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
  .task-item span {
    color: var(--text-color);
    font-size: 0.7rem;
    height: auto;
    display: block;
    text-align: left;
  }
  .task-item {
    min-height: 380px;
  }

  .task-item img {
    height: 250px;
  }
  .meta-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    margin-top: 0.5rem;
  }

  .task-item span.task-meta {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

@media (max-width: 991px) {
  .task-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 1rem;
  }

  .task-item {
    min-height: 380px;
  }

  .task-item img {
    height: 250px;
  }

  .task-item h3 {
    font-size: 1rem;
  }

  .task-item p {
    font-size: 0.9rem;
    height: auto;
  }

  .task-actions {
    flex-direction: column;
    gap: 0.8rem;
  }
}

@media (max-width: 768px) {
  .task-list {
    grid-template-columns: repeat(2, 1fr);

    gap: 1.2rem;
    padding: 0;
  }

  .task-item {
    min-height: auto;
    max-height: 500px;
    overflow-y: auto;
    padding: 0.8rem;
  }

  .task-item img {
    height: 200px;
    margin: 0.8rem 0;
  }

  .task-item h3 {
    font-size: 1.1rem;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .task-item p {
    font-size: 0.95rem;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
  .task-item span {
    font-size: 0.8rem;
  }
  .task-actions {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
  }

  .task-list button {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}

@media (max-width: 480px) {
  .task-list {
    grid-template-columns: 1fr;

    gap: 1.2rem;
  }
  .task-list {
    gap: 1rem;
  }

  .task-item {
    padding: 0.7rem;
  }

  .task-item img {
    height: 180px;
  }

  .task-item h3 {
    font-size: 1rem;
  }

  .task-item p {
    font-size: 0.85rem;
  }
  .meta-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
  }
  .task-meta strong {
    font-size: 0.8rem;
  }
  .task-item span.task-meta {
    display: flex;
    align-items: center;
  }
  .task-actions {
    flex-direction: column;
    gap: 0.5rem;
  }

  .task-list button {
    width: 100%;
    padding: 0.6rem 1rem;
  }
}
@media (max-width: 320px) {
  .meta-row {
    flex-wrap: wrap;
  }
}
