.task-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.task-list button {
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  flex: 1;
}
.task-list button {
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  flex: 1;
}

.task-item {
  border: 1px solid #eaeaea;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}

.task-item h3 {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  height: 3rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}

.task-item p {
  color: var(--text-color);
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  height: 3rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}
.task-item span {
  color: var(--text-color);
  font-size: 0.8rem;
  height: auto;
  display: block;
  text-align: left;
}
.meta-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.task-item span.task-meta {
  display: flex;
  align-items: center;
  gap: 4px;
}

.task-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0.5rem 0;
}

.task-actions {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: auto;
}

.task-actions button:hover {
  background: #35b97f;
}
.edit-btn {
  background-color: #f0ad4e;
  color: white;
}

.delete-btn {
  background-color: #d9534f;
  color: white;
}

.save-btn {
  background-color: #5cb85c;
  color: white;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
}
.cancel-btn {
  background-color: #3fcf8e;
  border: 1px solid #cbd5e1;
}

.cancel-btn:hover {
  background-color: #35b97f;
}
.new-task {
  background-color: #dbe7db;
  border-left: 5px solid rgb(202, 224, 202);
  animation: highlight 2s ease-in-out;
  border-left: 5px solid rgb(202, 224, 202);
  animation: highlight 2s ease-in-out;
}
@keyframes highlight {
  0% {
    background-color: #d1f7d1;
  }

  50% {
    background-color: #d7e6d7;
  }

  100% {
    background-color: #d1f7d1;
  }
}
